.footer {
    max-width: 170px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 12px;
    border: 1px solid;
    box-shadow: 0px 0px 20px rgb(49, 49, 49);
}