.footer {
    margin: 24px auto;
    font-size: 12px;
    width: 180px;
    box-shadow: 0px 0px 20px rgb(49, 49, 49);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 13px;
    background-color: rgba(250, 235, 215, 0.575);
    border-radius: 8px;
    padding: 3px;
}