.date{
    font-family: 'Martian Mono', monospace;
    font-size: 12px;
    justify-self: end;
    background-color: rgba(226, 222, 222, 0.664);
    padding: 5px 8px;
    border-radius: 7px;
}

@media(max-width: 767px){
    .date{
        justify-self: center;
        width: 100%;
        text-align: center;
        background-color: rgba(241, 232, 188, 0.425);
    }
};