.ratesButton{
    border:none;
    padding: 2px 5px;
    margin-top: 10px;
    background-color: hsl(35, 93%, 88%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    transition: .2s;
    color: rgb(0, 0, 0);

}

.ratesButton:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: hsl(36, 82%, 85%);
}