.result{
    text-align: center;
    font-size: 19px;
    background-color: rgba(254, 246, 238, 0.589);
    border-radius: 10px;
    padding: 1px;
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .result{
        background-color: rgba(196, 189, 182, 0.708);
    }
}